<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="scratch-camle-webapp" version="3.0">
    <display-name>Scratch Camel Webapp</display-name>
    <!-- This web.xml isn't actually required, but unfortunately the src/main/webapp directory it resides in is. -->
    <!-- The Maven Tomcat plugin will not run without that directory. So this file has been placed here so the -->
    <!-- directory is picked up by Git. -->
</web-app>
